body{
  margin: 0;
  padding: 0;
}

#content{
  display: flex;
  height: 100%;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  flex-flow: column;
  background-color: rgb(80, 168, 80);
}

#page{
  display: grid;
  height: 90vh;
  width: 100%;
}

.page0, .page1, .page2{
  grid-column: 1;
  grid-row: 1;
  background-color: white;
  background: url(background.jpg);
  background-size: cover;
}

.header{
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-style: italic;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 45px;
}

.headerMenu{
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-style: italic;
  font-size: 35px;
  width: 100%;
  display: flex;
  justify-content: center;
  text-shadow: 0 8px 8px rgba(112, 112, 121, 0.25);
}

.tabBox{
  display: flex;
  width: 55%;
  justify-content: space-evenly;
  align-items: center;
}

.tabs0, .tabs1, .tabs2{
  list-style-type: none;
  padding: 5px;
  border: 2px rgba(10, 201, 89, 0.788) solid;
  border-bottom: none;
  background-color: rgba(10, 201, 89, 0.788);
  width: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 15px;
  font-weight: bold;
  cursor: pointer;
}

.tabs0:hover, .tabs1:hover, .tabs2:hover{
  background-color: rgba(50, 122, 77, 0.637);
  border-color: rgba(50, 122, 77, 0.637);
}

.page0{
  visibility: visible;
}

.page1{
  /* visibility: hidden; */
  display: none;
  overflow-y: scroll;
  overflow-x: hidden;
}

.page2{
  visibility: hidden;
}

.info1, .info2{
  margin: 0px 25%;
  height: 80%;
  font-family: fantasy;
  font-size: 24px;
}

/* .info2{
 border: 2px green solid;
} */

.catalogue{
  font-size: 12px;
  display: grid;
  /* border: red 2px solid; */
  gap: 10px;
  padding: 20px;
  height: 450%;
  display: flex;
  /* flex: 2 1 auto; */
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.plantList0, .plantList2, .plantList3, .plantList1, .plantList4{
  border: green 3px solid;
  height: 50%;
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 25px;
  background-color: rgba(133, 216, 133, 0.925);
  border-radius: 10px;
}

.message1{
  border: black solid 2px;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background-color: rgba(133, 216, 133, 0.925);
  height: 80%;
  padding: 15px;
  text-align: center;
}

.image0, .image1, .image2, .image3, .image4 {
  border: solid black 2px;
  margin: 5px;
  margin-bottom: 20px;
  border-radius: 2px;
}

.cardhead{
  font-size: 20px;
  font-family: fantasy;
  margin: 0;
  padding: 0;
}

.image0{
  background: url(aureosulcataShoot.jpg);
  background-size: cover;
  height: 95%;
  width: 90%;
}

.image1{
  background: url(parvifolia.jpg);
  background-size: cover;
  height: 95%;
  width: 90%;
}

.image2{
  background: url(yellowgroove.jpg);
  background-size: cover;
  height: 95%;
  width: 90%;
}

.image3{
  background: url(yellowgroove.jpg);
  background-size: cover;
  height: 95%;
  width: 90%;
}

.image4{
  background: url(aureosulcataShoot.jpg);
  background-size: cover;
  height: 95%;
  width: 90%;
}